body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.center {
  text-align: center; }

.uno {
  background: #fff url(../assets/img/computer.jpg) no-repeat top right;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; }
  .uno h1 {
    color: white;
    font-weight: bold; }

.uno:before {
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  display: block;
  position: absolute;
  /* Todas las posiciones a cero */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.dos {
  background-color: #D09683; }
  .dos .yo {
    margin-top: 50px; }
  .dos .descripcion {
    padding: 30px; }
    .dos .descripcion h3 {
      color: #363237;
      font-family: 'Lobster';
      font-size: 40px; }
    .dos .descripcion p {
      color: #363237;
      font-family: 'Acme', sans-serif;
      font-size: 20px;
      text-align: justify; }
    .dos .descripcion .imgcentro {
      text-align: center; }

/*Estilos para Nav*/
.btn-group-sm .btn-fab {
  position: fixed !important;
  right: 20px;
  padding: 20px;
  z-index: 10; }

.btn-group .btn-fab {
  position: fixed !important;
  right: 20px;
  padding: 20px;
  z-index: 10; }

#main {
  position: fixed; }

#home {
  top: 60px; }

#about {
  top: 110px; }

#conocimientos {
  top: 160px; }

#portafolio {
  top: 210px; }

#contacto {
  top: 260px; }

.fa {
  font-size: 20px;
  border-radius: 50%;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  padding: 15px; }

.tres h3 {
  color: #363237;
  font-family: 'Lobster';
  font-size: 40px;
  padding-bottom: 10px; }
.tres .devicon-html5-plain-wordmark {
  font-size: 100px;
  color: #2D4262;
  padding: 10px; }
.tres .devicon-sass-original, .tres .devicon-bootstrap-plain-wordmark, .tres .devicon-photoshop-line, .tres .devicon-trello-plain-wordmark, .tres .devicon-slack-plain-wordmark, .tres .devicon-github-plain-wordmark, .tres .devicon-gulp-plain, .tres .devicon-nodejs-plain-wordmark, .tres .devicon-tomcat-line-wordmark, .tres .devicon-css3-plain-wordmark, .tres .devicon-javascript-plain, .tres .devicon-jquery-plain-wordmark, .tres .devicon-php-plain, .tres .devicon-mysql-plain-wordmark {
  font-size: 100px;
  color: #2D4262;
  padding: 10px; }

.espacio {
  padding: 30px; }

.cuatro {
  background-color: #C8CFD9; }
  .cuatro h3 {
    color: #2D4262;
    font-family: 'Lobster';
    font-size: 40px;
    padding: 10px; }
  .cuatro div {
    padding: 10px; }
    .cuatro div img {
      width: 250px;
      height: 250px; }

.cinco {
  background-image: url("../assets/img/gato.gif");
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  height: 60vh; }
  .cinco h3 {
    color: #2D4262;
    font-family: 'Lobster';
    font-size: 40px; }

footer {
  background-color: #2D4262;
  padding: 10px; }
  footer p {
    color: white; }
    footer p .fa-heart {
      color: red;
      background-color: #2D4262; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer; }

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
